<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.bobo.user.dao.UserMapper" >


    <select id="getAllUser" resultType="org.bobo.user.po.User">
       select * from user
    </select>

    <select id="getUserByid" resultType="org.bobo.user.po.User" >
       select * from user where id =${id}
    </select>

</mapper>